<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="fascet-container">
                <h2>FASCET</h2>
                <div class="block-holder">
                    <div class="left-block text-center">
                        <i class="fa fa-users user-group" aria-hidden="true"></i>
                    </div>
                    <div class="right-block">
                        <h4><i class="fa fa-user user green" aria-hidden="true" [ngClass]="userIconStatus === 1 ? 'green' : userIconStatus === 2 ? 'blue' : userIconStatus === 3 ? 'red' : 'gray'"></i>&nbsp;&nbsp;&nbsp;<span>{{ userName }}</span></h4>
                        <div class="content">
                            <div class="filter-btns">
                                <div class="item text-center" [ngClass]="filterCriteria.type.indexOf(1)!=-1?'active':''">
                                    <button type="button" class="btn btn-default btn-full" name="Task" state="0" (click)="onClick($event)">{{ 'Tasks (' + + totalTasks  + ')'  }}</button>      
                                </div>
                                <div class="item text-center" [ngClass]="filterCriteria.type.indexOf(2)!=-1?'active':''">
                                    <button type="button" class="btn btn-default btn-full" name="Bug" state="0" (click)="onClick($event)">{{ 'Bugs (' + + totalBugs  + ')'  }}</button>
                                </div>
                                <div class="item text-center" [ngClass]="filterCriteria.status.indexOf(1)!=-1?'active':''">
                                    <button type="button" class="btn btn-default btn-full" name="Completed" state="0" (click)="onClick($event)">{{ 'Completed (' + totalCompleted + ')' }}</button>
                                </div>
                                <div class="item text-center" [ngClass]="filterCriteria.status.indexOf(2)!=-1?'active':''">
                                    <button type="button" class="btn btn-default btn-full" name="InProgress" state="0" (click)="onClick($event)">{{ 'In Progress (' + totalInProgress + ')' }}</button>
                                </div>
                                <div class="item text-center" [ngClass]="filterCriteria.status.indexOf(3)!=-1?'active':''">
                                    <button type="button" class="btn btn-default btn-full" name="NotStarted" state="0" (click)="onClick($event)">{{ 'Not Started (' + totalNotStarted + ')' }}</button>
                                </div>
                            </div>
                            <hr>
                            <ul class="list-holder">
                                <li *ngFor="let ticket of filteredList; let i = index">
                                    <span class="bullet" [ngClass]="ticket.status===1 ? 'completed' : ticket.status===2 ? 'inprogress': ticket.status===3 ? 'notstarted':''"></span>
                                    <p>{{ ticket.description }}</p>
                                    <select class="form-select" [ngClass]="ticket.status===1 ? 'bg-green' : ticket.status===2 ? 'bg-blue' : ticket.status===3 ? 'bg-red' : ''" aria-label="Default select example" (change)="updateStatus(i, dd.value)" #dd>
                                        <option [ngClass]="status.id===1 ? 'bg-green' : status.id===2 ? 'bg-blue' : status.id===3 ? 'bg-red' : ''" *ngFor="let status of ticketStatusList" [value]="status.id" [selected]="status.id===ticket.status">{{ status.friendlyName }}</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear-fix"></div>
                </div>                
            </div>
        </div>
    </div>
</div>
